/* THINGS THAT ARE IMPACTED BY DISCORD REBRAND */

/* Changed in CSS */
/* #titleMain */
/* input[type="checkbox"]:checked */
/* input.lightMode[type="checkbox"]:checked */

/* Below are changed in the class on the element in the HTML */
/* buttonBlueNew */
/* buttonRedNew */
/* buttonGreenNew */

body {
  background-color: #36393f;
  font-family: "Roboto", sans-serif;
  /* text-align: center; */
  width: 100%;
  margin: 0;
}

body.lightMode {
  background-color: #ffffff;
}

.no-select {
  user-select: none;
}

::-webkit-scrollbar {
  width: auto;
}

::-webkit-scrollbar-track {
  background-color: #282d31;
  border-radius: 10px;
}

.lightMode *::-webkit-scrollbar-track {
  background-color: #e0e0e0 !important;
}

::-webkit-scrollbar-thumb {
  background-color: #202225;
  border-radius: 10px;
}

.lightMode *::-webkit-scrollbar-thumb {
  background-color: #cccccc !important;
}

input[type="number"]::-webkit-inner-spin-button {
  display: none;
}

#main {
  height: 100vh;
}

#topPart {
  background-color: #2f3136;
}

#topPart.lightMode {
  background-color: #f2f3f5;
}

#topTitle {
  width: 100%;
  text-align: center;
  padding-bottom: 5px;
}

#titleMain {
  /* color: #7289da; OLD */
  color: #5865f2;
  font-size: 3rem;
  line-height: 3rem;
}

#titleLink,
#titleLink:visited,
#titleLink:active {
  text-decoration: none;
  color: #ed4245;
  /* color: #00acee; */
  /* Twitter Hex */
}

#titleLink:hover {
  text-decoration: none;
  color: #00acee;
}

#changelogText {
  text-decoration-line: none;
  color: #99aab5;
  margin-top: 6px;
}

#changelogText:hover {
  text-decoration-line: underline;
}

#changelogText.lightMode {
  color: #060607;
}

.inputBox {
  background-color: #303339;
  border: 1px solid #000000 !important;
  color: #99aab5;
}

.inputBox:disabled {
  background-color: #696a6e;
}

.inputBox.lightMode {
  background-color: #ffffff;
  border: 1px solid #aaaaaa !important;
  color: black;
}

.inputBox:disabled.lightMode {
  background-color: #cccccc;
  color: #5c6066;
}

#topOptions {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
  margin-bottom: 10px;
}

/* .checkbox-label input {
  position: absolute;
  opacity: 0;
}

.checkbox-custom {
  position: relative;
  top: 0px;
  left: 00px;
  height: 15px;
  width: 15px;
  background-color: transparent;
  border-radius: 5px;
  border: 2px solid #fff;
} */

.checkbox-group {
  display: flex;
  align-self: center;
}

.checkbox-group > * {
  cursor: pointer;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  /* Styling checkbox */
  position: relative;
  width: 14px;
  height: 14px;

  background-color: #303339;
  border: 1px solid #000000 !important;

  /* background-color: #f04747 !important;
  background: transparent url("../images/unchecked.png");
  background-size: contain; */

  border-radius: 3px;
  /* top: 5px; */
}

input[type="checkbox"]:checked {
  /* background-color: #43b581 !important; OLD */
  background-color: #3ba55c !important;
  background: transparent url("../images/checked.png");
  background-size: contain;
  border: 0px !important;
}

input.lightMode[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  /* Styling checkbox */
  position: relative;
  width: 16px;
  height: 16px;

  background-color: #ffffff;
  border: 1px solid #aaaaaa !important;

  /* background-color: #f04747 !important;
  background: transparent url("../images/unchecked.png");
  background-size: contain; */

  border-radius: 3px;
  top: 5px;
}

input.lightMode[type="checkbox"]:checked {
  /* background-color: #43b581 !important; OLD */
  background-color: #3ba55c !important;
  background: transparent url("../images/checked.png");
  background-size: contain;
  border: 0px !important;
}

/* this selects all the elements, including the ones created by select2, disabled in favor of the one below*/
/* #topOptions *{
  margin-left: 5px;
  margin-right: 5px;
  border-color: #40444b;
  border: 0px;
  outline: 0px;
  font-family: inherit;
} */

#selectRegex {
  text-align: left;
  font-size: 10px;
}

#multipleIDs,
#multipleIDButtons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

#actionRow {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: .5rem;
  padding-bottom: 10px;
}

#actionRow.lightMode {
  background-color: #f2f3f5;
}

#extraActionRow {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: .5rem;
  padding-bottom: 10px;
}

#extraActionRow.lightMode {
  background-color: #f2f3f5;
}

#copyShareLinkButton {
  line-height: inherit !important;
  color: #b9bbbe;
  margin-left: 10px;
  cursor: pointer;
  align-self: center;
}

#copyShareLinkButton:hover {
  color: #838383;
}

#copyShareLinkButton.lightMode {
  color: #4f5660;
}

#copyShareLinkButton.lightMode:hover {
  color: #262b31;
}

#openExtraPanelButton {
  color: #b9bbbe;
  cursor: pointer;
  margin-left: 5px !important;
}

#openExtraPanelButton.lightMode {
  color: #4f5660;
}

.optionText {
  color: #99aab5;
}

.optionText.lightMode {
  color: #2f3136;
}

button {
  color: white;
  border-radius: 3px;
  width: auto;
  height: 30px;
  font-family: "Roboto", sans-serif;
  border: 0px;
  /* outline: 0px; DISABLED FOR ACCESSIBILITY */
}

/* BUTTONS */
.buttonBlue {
  background-color: #7289da;
}

.buttonBlue:hover {
  background-color: #677bc4;
  cursor: pointer;
}

.buttonBlue:active {
  background-color: #5b6eae;
}

.buttonRed {
  background-color: #f04747;
}

.buttonRed:hover {
  background-color: #d84040;
  cursor: pointer;
}

.buttonRed:active {
  background-color: #c03939;
}

.buttonGreen {
  background-color: #43b581;
}

.buttonGreen:hover {
  background-color: #3ca374;
  cursor: pointer;
}

.buttonGreen:active {
  background-color: #369167;
}

/* v REBRAND v */

.buttonBlueNew {
  background-color: #5865f2;
}

.buttonBlueNew:hover {
  background-color: #4752c4;
  cursor: pointer;
}

.buttonBlueNew:active {
  background-color: #3c45a5;
}

.buttonRedNew {
  background-color: #ed4245;
}

.buttonRedNew:hover {
  background-color: #d53b3e;
  cursor: pointer;
}

.buttonRedNew:active {
  background-color: #be3537;
}

.buttonGreenNew {
  background-color: #3ba55c;
}

.buttonGreenNew:hover {
  background-color: #359553;
  cursor: pointer;
}

.buttonGreenNew:active {
  background-color: #2f844a;
}

/* BUTTONS */

hr {
  margin-top: 0px;
  margin-bottom: 15px;
  height: 3px;
  /* background-color: #f04747; */
  background-color: #ed4245;
  border: 0px;
  outline: 0px;
}

#textBoxTitleText {
  text-align: center;
  display: flex;
  flex-direction: row;
}

#textBoxTitleTextLeft {
  width: 100%;
  padding-right: 30px;
  padding-left: 5%;
}

#textBoxTitleTextRight {
  width: 100%;
  padding-right: 5%;
  /* Usually 5% */
  padding-left: 30px;
}

#outputStatusText,
#outputStatusTextCol {
  color: #43b581;
}

#outputStatusText.lightMode,
#outputStatusTextCol.lightMode {
  color: #008000;
}

#textBoxArea {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 50vh;
}

#textBoxInput {
  background-color: #40444b;
  color: #99aab5;
  font-size: 12px;
  width: 50%;
  /* Usually 50% */
  border-radius: 10px;
  border: 2px solid #36393f;
  /* padding: 5px 10px; */
  padding: 5px 0 0 10px;
  /* Usually 5px 10px */
  margin-right: 15px;
  margin-left: 5%;
  min-width: 1px;
  /* For Firefox */
}

#textBoxInput.lightMode {
  background-color: #ebedef;
  color: #060607;
  border: 2px solid #ffffff;
}

#textBoxOutput {
  background-color: #40444b;
  color: #99aab5;
  font-size: 12px;
  width: 50%;
  border-radius: 10px;
  border: 2px solid #36393f;
  padding: 5px 10px;
  margin-right: 5%;
  margin-left: 15px;

  /* FOR THE COPY FUNCTION TO WORK WITH CM. NEEDS TO NOT BE HIDDEN */
  /* opacity: 0.1; */
  display: block !important;
  position: absolute;
  left: -9999em;
  top: -9999em;
}

#textBoxOutput.lightMode {
  background-color: #ebedef;
  color: #060607;
  border: 2px solid #ffffff;
}

#textBoxOutput:focus,
#textBoxInput:focus {
  outline: black;
}

.container-below {
  display: flex;
  justify-content: space-between;
  margin: 0 5%;
}

/* MEDIA SIZE */

@media only screen and (max-height: 500px) {

  #titleMain {
    font-size: 2.3rem;
    line-height: 2.3rem;
  }

  #textBoxArea {
    height: 55vh;
  }
}

@media only screen and (max-height: 430px) {
  #textBoxArea {
    height: 50vh;
  }
}

@media only screen and (max-height: 390px) {
  #textBoxArea {
    height: 45vh;
  }
}

@media only screen and (max-width: 1000px) {

  #titleMain {
    font-size: 2.3rem;
    line-height: 2.3rem;
  }

  #textBoxInput,
  #textBoxTitleTextLeft {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  #textBoxOutput,
  #textBoxTitleTextRight {
    padding-right: 0px !important;
    padding-left: 0px !important;
  }

  .CodeMirror.cm-s-left {
    margin-left: 10px !important;
    margin-right: 0px !important;
  }

  .CodeMirror.cm-s-right {
    margin-right: 10px !important;
    margin-left: 0px !important;
  }

  .container-below {
    margin: 0 10px;
    padding: 0;
  }

  #textBoxArea {
    height: 60vh;
  }

  #localStorageConsentNotice {
    margin: 0 10px 10px 10px !important;
  }

  @media only screen and (max-height: 480px) {
    #textBoxArea {
      height: 50vh;
    }
  }

  @media only screen and (max-height: 385px) {
    #textBoxArea {
      height: 40vh;
    }
  }
}

@media only screen and (max-width: 630px) {

  #toggleThemeButton,
  #deleteThemeSettingButton {
    top: 10px !important;
  }

  #titleMain {
    font-size: 1.8rem;
    line-height: 1.8rem;
  }

  .container-below {
    padding-right: 5px !important;
  }

  /* Make the textarea a column. Better view for mobile devices */
  #textBoxArea {
    flex-direction: column;
    align-items: center;
    height: 60vh;
  }

  .CodeMirror {
    width: 97% !important;
    height: 50%;
  }

  .CodeMirror.cm-s-left {
    margin-left: 3px !important;
    margin-right: 3px !important;
  }

  .CodeMirror.cm-s-right {
    margin-right: 3px !important;
    margin-left: 3px !important;
  }

  #textBoxTitleText {
    display: none;
  }

  .col-text {
    display: initial !important;
    text-align: center;
  }

  .col-icon {
    display: none !important;
    transform: rotate(90deg);
    padding-left: 3px;
  }

  #localStorageConsentNotice {
    margin: 0 6px 5px 6px !important;
    text-align: left !important;
  }

  /* TO HIDE THE GUTTER AND NUMBERS */
  /* .CodeMirror-vscrollbar {
    display: none !important;
    margin: 0 !important;
  }
  .CodeMirror-gutters, .CodeMirror-linenumber {
    display: none;
  }
  .CodeMirror-sizer {
    margin: 0px !important;
    padding: 0px !important;
  } */

  @media only screen and (max-height: 600px) {
    #textBoxArea {
      height: 60vh;
    }
  }

  @media only screen and (max-height: 525px) {
    #textBoxArea {
      height: 50vh;
    }
  }
}

/* localStorage stuff lol */
#localStorageConsentNotice {
  z-index: 999;
  min-height: 20px;
  padding: 10px 20px;
  background: rgba(0, 0, 0, 0.6);
  overflow: hidden;
  position: fixed;
  color: #fff;
  bottom: 0px;
  right: 0px;
  left: 0px;
  text-align: center;
  font-size: 16px;
  border-radius: 10px;
  margin: 0 5% 10px 5%;
}

#localStorageConsentNotice.lightMode {
  color: #000;
  background: rgba(190, 190, 190, 0.9);
}

#localStorageConsentNotice div {
  padding: 4px 0 0;
}

#localStorageConsentNotice a {
  color: #43b581;
  display: inline-block;
  /* padding: 0 5px; */
}

#localStorageConsentNotice a.lightMode {
  color: #008000;
}

#localStorageConsentNotice a:hover {
  color: #3ca374;
}

#localStorageConsentNotice button#localStorageOKButton {
  float: right;
  margin-left: 5px;
  height: auto !important;
  padding: 7px;
}

/* PRELOAD */
#loading {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 1;
  background-color: #36393f;
  z-index: 99;
}

#loading.lightMode {
  background-color: #ffffff;
}

#loading-image {
  z-index: 10000;
}

/* HIDE TRANSITION */

.show {
  opacity: 1 !important;
}

.hide {
  opacity: 0 !important;
  transition: opacity 200ms;
}

/* Apply display: none to hidden elements. Ultra hacky */
*[hidden] {
  display: none !important;
}